<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 ">
                <h2 class="text-center ">Add products</h2>
                <form action="/admin/add-products" enctype="multipart/form-data" method="post">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control">
                     <label for="">Category</label>
                    <input type="text" name="category" class="form-control">
                     <label for="">Price</label>
                    <input type="text" name="price" class="form-control">
                     <label for="">Description</label>
                    <input type="text" name="description" class="form-control"><br>
                     <label for="">Image</label>
                    <input type="file" name="Image" class="form-control"><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>